<!DOCTYPE html>
<html>
<head>
  <title>Photoman</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'menu' %>
<%= yield %>

<p>
  Top dirs:
  <% @years.each do |y|  %>
    <%= link_to y=File.basename(y), :year => y  %>
  <% end %>
</p>
<p>
  Groupings:
  <% @grouping_list.each do |g| %>
    <%= link_to g, :grouping => g %>
  <% end %>
</p>
<h2>Autoalbums</h2>

<% @images.each do |grouping,images|  %>
    <div class="images">
      <h3><%= grouping %></h3>
      <ul>
        <% images.each do |i| %>
          <li><img src="<%= i[:url] %>" /></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</body>
</html>
